In [4]:
## Import the necessary packages
from bs4 import BeautifulSoup
import urllib
import re
import pandas as pd
import requests
from urllib.request import urlopen

In [5]:
#Extract url for job search pages
def skill_by_loc(url_input):
    from urllib.request import urlopen
    url = url_input
    sql_required=0
    tableau_required=0
    spark_required=0
    aws_required=0
    hadoop_required=0
    hive_required=0
    pig_required=0
    python_required=0
    javascript_required=0
    java_required=0
    c_required=0
    r_required=0
    for i in range(20):
        page = urlopen(url)
        soup = BeautifulSoup(page, 'lxml')
        all_matches = soup.findAll(attrs={'rel':['nofollow']})
        for each in all_matches:
            job_url= 'http://www.indeed.com/m/'+each['href']
            webp = urlopen(job_url).read()
            webp=webp.decode("utf-8")
            if len(re.findall("SQL",webp))>0:
                sql_required=sql_required+1
            if len(re.findall("Tableau",webp))>0:
                tableau_required=tableau_required+1
            if len(re.findall("Spark",webp))>0:
                spark_required=spark_required+1   
            if len(re.findall("AWS",webp))>0:
                aws_required=aws_required+1    
            if len(re.findall("Hadoop",webp))>0:
                hadoop_required=hadoop_required+1    
            if len(re.findall("Hive",webp))>0:
                hive_required=hive_required+1     
            if len(re.findall("Pig",webp))>0:
                pig_required=pig_required+1
            if len(re.findall("Python",webp))>0:
                python_required=python_required+1    
            if len(re.findall("Javascript",webp))>0:
                javascript_required=javascript_required+1
            if len(re.findall("Java",webp))>0:
                java_required=java_required+1   
            if len(re.findall(r"/sC/s",webp))>0:
                c_required=c_required+1
            if len(re.findall(r"/sR/s",webp))>0:
                r_required=r_required+1
        ## Change the pages to Next Page
        url_all = soup.findAll(attrs={'rel':['next']})
        url = 'http://www.indeed.com/m/'+ str(url_all[0]['href'])
    return sql_required,tableau_required,spark_required,aws_required,hadoop_required,hive_required,pig_required,python_required,javascript_required,java_required,c_required,r_required;

In [6]:
# Data Scientist Los Angeles
skill_by_loc('https://www.indeed.com/m/jobs?q=Data+Scientist&l=Los+Angeles')


LA_DS=[['SQL',sql_required],['Tableau',tableau_required],['Spark',spark_required],['AWS',aws_required],['Hadoop',hadoop_required]
       ,['Hive',hive_required],['Pig',pig_required],['Python',python_required],['Javascript',javascript_required],
       ['Java',java_required],['C',c_required],['R',r_required]]

import pandas as pd
LA_DataScience=pd.DataFrame(LA_DS)
LA_DataScience.sort_values(by=[1],ascending=False)

NameError: name 'sql_required' is not defined

In [7]:
# Data Scientist San Francisco
skill_by_loc('https://www.indeed.com/m/jobs?q=data+scientist&l=San+Francisco')


SFO_DS=[['SQL',sql_required],['Tableau',tableau_required],['Spark',spark_required],['AWS',aws_required],['Hadoop',hadoop_required]
       ,['Hive',hive_required],['Pig',pig_required],['Python',python_required],['Javascript',javascript_required],
       ['Java',java_required],['C',c_required],['R',r_required]]

import pandas as pd
SFO_DataScience=pd.DataFrame(SFO_DS)
SFO_DataScience.sort_values(by=[1],ascending=False)

NameError: name 'sql_required' is not defined

In [26]:
# Data Scientist New York
skill_by_loc('https://www.indeed.com/m/jobs?q=data+scientist&l=New+York')


NYC_DS=[['SQL',sql_required],['Tableau',tableau_required],['Spark',spark_required],['AWS',aws_required],['Hadoop',hadoop_required]
       ,['Hive',hive_required],['Pig',pig_required],['Python',python_required],['Javascript',javascript_required],
       ['Java',java_required],['C',c_required],['R',r_required]]

import pandas as pd
NYC_DataScience=pd.DataFrame(NYC_DS)
NYC_DataScience.sort_values(by=[1],ascending=False)

             0    1
7       Python  155
0          SQL  123
2        Spark   49
4       Hadoop   45
9         Java   33
1      Tableau   28
5         Hive   27
3          AWS   20
6          Pig    5
8   Javascript    5
10           C    0
11           R    0

In [ ]:
# Data Scientist Boston
skill_by_loc('https://www.indeed.com/m/jobs?q=data+scientist&l=Boston')


BS_DS=[['SQL',sql_required],['Tableau',tableau_required],['Spark',spark_required],['AWS',aws_required],['Hadoop',hadoop_required]
       ,['Hive',hive_required],['Pig',pig_required],['Python',python_required],['Javascript',javascript_required],
       ['Java',java_required],['C',c_required],['R',r_required]]

import pandas as pd
BS_DataScience=pd.DataFrame(BS_DS)
BS_DataScience.sort_values(by=[1],ascending=False)

In [ ]:
# Data Scientist Chicago
skill_by_loc('https://www.indeed.com/m/jobs?q=data+scientist&l=Chicago')


BS_DS=[['SQL',sql_required],['Tableau',tableau_required],['Spark',spark_required],['AWS',aws_required],['Hadoop',hadoop_required]
       ,['Hive',hive_required],['Pig',pig_required],['Python',python_required],['Javascript',javascript_required],
       ['Java',java_required],['C',c_required],['R',r_required]]

import pandas as pd
BS_DataScience=pd.DataFrame(BS_DS)
BS_DataScience.sort_values(by=[1],ascending=False)